@page "/password-manager"
@inherits SmartUnzipComponentBase
@inject IPasswordRepository PasswordRepository


<div class="flex flex-col space-y-4">

    <div class="flex flex-row items-center space-x-2">
        <label>@L["Password"]: </label>
        <FluentTextField @bind-Value="addPasswordValue"></FluentTextField>
        <FluentButton @onclick="()=> AddPassword(addPasswordValue)" Appearance="Appearance.Accent">@L["Add"]</FluentButton>
        </div>

        <FluentDataGrid Items="@passwords">
            <PropertyColumn Property="@(p => p.Value)" Sortable="true" Title="@L["Password:Value"]" />
            <PropertyColumn Property="@(p => p.UseCount)" Sortable="true" Title="@L["Password:UseCount"]" />
            <PropertyColumn Property="@(p => p.ManualSort)" Sortable="true" Title="@L["Password:ManualSort"]" />

            <TemplateColumn Title="@L["Actions"]">
                <FluentButton Appearance="Appearance.Accent" @onclick="@(() => Delete(context.Value))">@L["Delete"]</FluentButton>
            </TemplateColumn>
        </FluentDataGrid>

    </div>


    @code {

    string addPasswordValue;

    IQueryable<UnzipPassword> passwords;


    public void GetPassword()
    {
        passwords = PasswordRepository.GetAllPasswords().AsQueryable();
    }

    protected override async Task OnInitializedAsync()
    {
        GetPassword();
    }

    void Delete(string password)
    {
        PasswordRepository.RemovePassword(password);
        GetPassword();
    }

    void AddPassword(string password)
    {
        PasswordRepository.AddPassword(new UnzipPassword(password));
        GetPassword();
    }





}
