<FluentTreeItem Class="@(@$"{GetArchiveNameClass(Archive)}")">


    <div class="flex flex-col w-full">
        <div class="w-full flex flex-row items-center justify-between">
            <span class="flex-1">
                @Archive.Name
            </span>

            <FluentBadge Appearance="Appearance.Neutral">
                @Archive.Password
            </FluentBadge>
            
            
            
            @if (Archive.Exception != null)
            {
                <FluentMessageBar Intent="@MessageIntent.Error">
                    @Archive.Exception?.StackTrace
                </FluentMessageBar>
            }

            <FluentButton Appearance="Appearance.Lightweight" IconEnd="@(new Icons.Filled.Size16.Delete())" @onclick="()=>OnRemoveClick.InvokeAsync(Archive)"></FluentButton>


       


        </div>

    </div>


    @*      @if (Archive.Parts.Count > 1)
    {
    @foreach (var part in Archive.Parts.Skip(1))
    {
    <FluentTreeItem>
    <div class="text-gray-300">
    @Path.GetFileName(@part)
    </div>

    </FluentTreeItem>
    }
    } *@

    @if (!Archive.Children.IsNullOrEmpty())
    {
        @foreach (var child in Archive.Children)
        {
            <UnzipTreeItem Archive="@child" OnRemoveClick="@(()=> Archive.Children.Remove(child))">
            </UnzipTreeItem>
        }
    }


</FluentTreeItem>


@if (Archive.ExtractProgress >= 0)
{
    <FluentProgress Min="0" Max="100" Color="green" Value="@((int)(Archive.ExtractProgress * 100))"></FluentProgress>
}


@code {
    [Parameter]
    public ArchiveFileInfo Archive { get; set; }

    [Parameter]
    public EventCallback<ArchiveFileInfo> OnRemoveClick { get; set; }

    bool errorInfoVisible = false;

    protected override void OnParametersSet()
    {
        Archive.PropertyChanged += (s, e) =>
        {
            InvokeAsync(() => StateHasChanged());
        };
        Archive.Children.CollectionChanged += (s, e) =>
        {
            InvokeAsync(() => StateHasChanged());
        };
    }


    string GetArchiveNameClass(ArchiveFileInfo archive)
    {
        var classContent = "";

        classContent += archive.IsMulti switch
        {
            true => "text-purple-500",
            _ => "",
        };

        return classContent;
    }



}
